* {
    margin: 0;
    padding: 0;
}

/* Navigation Bar */

#navbar {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 80%;
    width: 230%;
    z-index: -1;
    opacity: 0.4;

}

/* Navigation Bar:Logo And Image */
#logo {
    margin: 34px 45px;
}

#logo img {
    margin: 2px 5px;

}

/* Navigation Bar: List Styling */


#navbar ul {
    display: flex;
}


#navbar ul li {
    list-style: none;
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;

}

/* Home Section */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 531px;
}

#home::before {
    content: "";
    background: url(bg.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 71%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1 {
    color: white;
    text-align: center;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.2rem;
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
}

/* Services Section */
#services {
    margin: 0px;
    display: flex;
}

#services .box {
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 25px;
    background-color: #e6fff0;
}

#services .box img {
    height: 160px;
    margin: auto;
    display: block;
}

/* Utility Classes */
.h-primary {
    font-size: 2.5rem;
    padding: 12px;
    font-family: "Protest Riot", sans-serif;
}

.h-secondary {
    font-size: 2.8rem;
    padding: 12px;
    font-family: "Protest Riot", sans-serif;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    color: white;
    background-color: brown;
    margin: 17px;
    border-radius: 12px;
    cursor: pointer;
}

.center {
    text-align: center;
}